* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.sidebar3 {
  padding: 20px 20px 0 20px;
  background-color: #809dd0;
}
.sidebar3 p {
  color: white;
}
h1 {
  font-size: 28px;
  color: white;
}
h2,
h3 {
  font-size: 19px;
  color: white;
}
/* app name*/
.name {
  display: inline;
  clear: right;
  padding: 10px 5px 5px 5px;
  text-align: center;
}
/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 15px 0 15px 0;
  border-radius: 5px;
}

/* Style the submit button */
.form-inline button {
  border-color: #f3a827;
  margin-left: 10px;
  padding: 7px 0 7px 10px;
}
i {
  display: inline-block;
  margin-right: 1em;
  color: #f3a827;
}
li {
  list-style-type: none;
  padding: 5px;
  border-bottom: 1px solid #fdfdfd75;
  color: white;
}
ul {
  padding-left: 0px;
}

.list {
  padding-left: 20px;
}
.submenu > li {
  display: list-item;
  list-style-type: square;
  border-bottom: none;
}
.submenu {
  padding-left: 12px;
}
.submenu > li:hover {
  font-weight: bold;
}
li:hover {
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}
.main-content {
  text-align: right;
  border: 1px solid #809dd0;
  border-radius: 5px;
  margin: 10px;
  min-width: 72vw;
  min-height: 97vh;
}
.main-content > p > a {
  color: white;
}
div.chatWindow {
  height: 70vh;
  min-width: 50vw;
}
div.chatMessages {
  height: 100%;
  border-radius: 5px;
  overflow: scroll;
}
hr {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f3a827;
  opacity: 0.5;
}
div.chatTyping {
  height: 50px;
  width: 100%;
  margin-top: 30px;
}
.chatTyping .btn {
  background-color: #f3a827;
  border-color: #f3a827;
}
.chatTyping input {
  border-color: #f3a82771;
  height: 70px;
}
.hiddingMessage {
  margin-bottom: 5px;
  animation-name: hide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}
.message {
  font-size: 0.9rem;
}
.delete {
  cursor: pointer;
}
@keyframes hide {
  0% {
    opacity: 1;
    height: 100%;
    line-height: 5px;
  }
  75% {
    opacity: 0;
    height: 100%;
    line-height: 5px;
  }
  100% {
    opacity: 0;
    height: 0px;
    line-height: 0px;
    padding: 0px;
    margin-bottom: 0px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
